<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>

<body>
<div class="container">
    <h2>Add Employee</h2>
    <form action="/add" method="POST">
        <input name="eid" placeholder="Employee ID">
        <input name="ename" placeholder="Name">
        <input name="edept" placeholder="Department">
        <input name="esalary" placeholder="Salary">
        <input name="ephone" placeholder="Phone">
        <button>Add Employee</button>
    </form>
</div>
</body>

</html>