<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
</head>

<body>
<div class="container">
    <h2>Edit Employee</h2>
    <form method="post" action="/update">
        <input name="eid" value="{{ emp[0] }}" readonly>
        <input name="ename" value="{{ emp[1] }}">
        <input name="edept" value="{{ emp[2] }}">
        <input name="esalary" value="{{ emp[3] }}">
        <input name="ephone" value="{{ emp[4] }}">
        <button>Update Employee</button>
    </form>
</div>
</body>

</html>