<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <div class="login-container">
        <div class="login-card">
            <h2>Employee Management</h2>
            <p class="subtitle">Login to continue</p>

            <form action="/" method="post">
                <input type="text" name="username" placeholder="Enter username" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <button type="submit">Login</button>
            </form>

            <p class="register-text">
                No account? <a href="/register">Register first</a>
            </p>
        </div>
    </div>
</body>

</html>