<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <form action="/dashboard">
        <input name="username" required placeholder="Enter username"><br><br>
        <input type="password" name = "password" required placeholder="Enter your password"><br><br>
        <button>Login</button>
    </form>
    <a href="'/register">No account? Register first</a>
    
</body>
</html>