<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>

<body>
    <div class="register-card">
        <h2>Register</h2>

        <form action="/register" method="post">
            <input name="username" required placeholder="Enter Username">
            <input type="password" name="password" required placeholder="Enter Password">
            <input name="role" required placeholder="Enter role employee or admin">
            <button>Register</button>
        </form>

        <a href="/">Already Registered? Login</a>
    </div>
    <button onclick="history.back()" style="
    padding:8px 15px;
    background:#444;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;">
        ← Back
    </button>
</body>


</html>